.login-root {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr;
  background-color: rgb(20, 196, 14);
}

.mdc-card.sign-up-card {
  justify-content: stretch;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 8px;
  background-color: white;
}

.mdc-card__actions {
  button {
    margin: 16px;
  }
}

html,
body {
  background-color: rgb(20, 196, 14);
}
